/* styles.css */
body {
    background-image: url('https://i.pinimg.com/564x/af/db/82/afdb823634d19518959bb834546983c3.jpg'); /* Postavite putanju do vaše slike */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  