.filter-box-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  filter: blur(5px);
  z-index: 1001;
}

.filter-box-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1002;
    width: 400px; 
    height:550px;
    box-sizing: border-box;
    background-color:white;
    padding-left:15px;
    padding-top:10px;
  }

  
.filter-box-close {
  cursor: pointer;
  float: right;
  font-size: 30px;
  font-weight: bold;
  color: rgb(var(--main-color-rgb));
  margin-right:10px;
}

.filter-box-label {
  margin:10px;
  font-weight: bold;
  color: rgb(var(--main-color-rgb));
}

.diet-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  column-gap:50px;
  row-gap: 15px;
  margin:0px 10px;
}

.diet-button {
  border-radius:40px;
  border:2px solid rgb(var(--main-color-rgb));
  padding:5px;
  color: rgb(var(--main-color-rgb));
  font-weight: bold;
}

.diet-button.selected {
  background-color: rgb(var(--main-color-rgb)); 
  color: #fff; 
}

.filter-box-select {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
  margin-left:30px;
  border-radius:40px;
  color:var(--font-color);
}

.filter-box-range {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left:30px;
  color:var(--font-color);
}

.filter-box-range-input {
  margin:10px;
  width: 50%;
}

.filter-box-buttons {
    display: flex;
    justify-content: space-around;
    margin:10px;
}

.filter-box-buttons button {
  margin-right: 10px;
}

