
body, main {
    margin:0; 
    padding:0;   
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .main-information,
  .secondary-information
  .comment-section {
    width: 100%;
    height:100%;
    display: flex;
    margin: 0;
    flex-wrap: nowrap;
  }
  
  .pageimage {
    flex: 1;
    order: 1;
    width: 100%;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
    margin-top:-100px;
}

.pageimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-details {
    flex: 1;
    order: 2;
    position: relative;
    width: 50%;
    padding: 30px;
    background-color: #fff;
}

.title {
    font-size: 60px;
    margin:0px auto;
    color: rgb(var(--main-color-rgb));
}

h3 {
    font-size: 20px;
    color: var(--font-color);
    margin: 40px auto;
}

.display {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    min-width:600px;
}

.display-line {
    display: flex;
    flex-direction: column;
    width: 30%;
    box-sizing: border-box;
    border-left: 1px rgb(var(--main-color-rgb)) solid;
    margin-top: 50px;
}

.first-line,
.second-line {
    width: 100%;
}

.first-line {
    font-size: 2.5em;
    margin-bottom: 0;
    text-align: left;
    padding-left: 40px;
    color: rgb(var(--main-color-rgb));
}

.second-line {
    font-size: 1em;
    margin-top: 0;
    text-align: center;
}

.display-line:first-child {
    border-left: none;
    padding-left: 50px;
}

.diet {
    display: flex;
    margin-top:60px;
    margin-left:-200px;
  }

.diet-title {
    margin-right:20px;
    font-size:20px;
    margin-top:5px;
}
  
  .preference {
    border-radius: 10px; 
    background-color: rgb(var(--main-color-rgb));
    color: white;
    margin-right: 10px;
    padding: 5px 10px;
  }
  
  .star {
    color: var(--font-color);
    font-size: 30px;
}

.yellow-star {
    color: rgb(var(--main-color-rgb));
}

.secondary-information {
    display:flex;
  }
  
.instructions {
    width:60%;
}

.ingredients {
    width:40%;
    background-color: rgb(var(--main-color-rgb));
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}


.section-title {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--font-color);
}

.ingredient::before {
  content: '\2022'; 
  color: white;
  margin-right: 10px;
}

.ingredient {
    border-radius: 10px;
    margin:5%;
    padding: 5px 10px;
    font-size:20px;
    color:white;
    margin-left:30%;
}
  
.instructions {
    margin:20px;
    color: var(--font-color);
    font-size:20px;
}


.comment-section {
    display: flex;
    flex-wrap: wrap;
    margin-top:100px;
  }
  
  .recent-added-recipes {
    flex: 1;
    margin-right: 20px; /* Adjust the margin as needed */
  }
  
  .comments {
    flex: 2;
  }
  
  .section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .comments-list {
    list-style: none;
    padding: 0;
  }
  
  .comment-item {
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 1000px) {
    .display {
        display: none;
  }

  .diet {
    display:flex;
    margin:0px;
  }
}

@media only screen and (max-width: 700px) {
  .pageimage {
      display: none;
}
.recent-added-recipes {
  display:none;
}
}


  