nav {
    margin-top: 30px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .navbar-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    background-color: white;
    border-radius: 40px;
  }
  
  li {
    margin: 10px 25px;
  }
  
  @media only screen and (max-width:680px) {
    .navbar-container {
      flex-direction: column;
      height: auto;
    }

    nav {
        width:50%;
        margin:0 auto;
    }
  
    ul {
      flex-direction: column;
      align-items: center;
    }
  
    li {
      margin: 10px; 
    }
  }
  