.dropdown-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: auto; /* Change to auto to make it hug the content */
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 8px;
    display: none;
    z-index: 1000;
  }
  
  .dropdown-container.active {
    display: block;
  }
  
  .list {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .list li {
    margin-bottom: 10px;
  }
  
  