
main {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.first-section,
.second-section {
    display: flex;
    justify-content: space-between;
    background-color:white;
}



.plate {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: rgb(var(--main-color-rgb));
    margin-top:-100px;
    max-width:800px;
    width:50%;
}

.plate img {
    width: 100%;
    height: 100%;
}

.homepage-title {
    font-size: 90px;
    font-weight: bold;
    margin:5% 20%;
    text-align: center; 
    color:rgb(var(--main-color-rgb));
}

.homepage-description {
    font-size: 23px;
    color:var(--font-color); 
    margin:-10px 20% 10px 20%;
    text-align: center;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

.second-description {
    max-width: 800px;
    margin: -50px auto; 
    padding: 100px; 
  }

.spices {
    height:100%;
}

.spices img {
    width:100%;
    height: 100%;
    object-fit: cover;
}

  .second-description p {
    font-size: 18px;
    line-height: 1.6; 
    color: var(--font-color); 
    margin-bottom:10%;
    margin-top:5px;
  }
  
  .second-description h1 {
    font-size: 28px; 
    color: rgb(var(--main-color-rgb)); 
    margin-top: 20px; 
    font-weight: bold;
  }

@media (max-width: 1100px) {
    .plate {
        display:none;
    }

    .title, .description {
        margin:0px;
    }

    .second-section {
        flex-direction: column;
      }
      .spices {
        margin: 20px 30px;
      }

}


  