/* styles.css */

.form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color:rgb(var(--main-color-rgb));
    border-radius:40px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    border-radius:40px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
